$width: 100%;
$height: 100%;

$padding: 0.5rem;
$borderRadius: 0.2rem;
$unRem: 1rem;

$colorWhite: #fff;
$colorBlack: black;
$colorOscuro: rgba(0, 0, 0, 0.747);
$colorAqua: rgb(78, 220, 255);
$colorPurple: rgb(151, 44, 252);

$fontLogo: 1.5rem;
$fontTitle: 2rem;

$boxShadow: 1px 3px 5px 3px rgba(51, 49, 49, 0.315);

$fontFamilyGeneral: "Gayathri", sans-serif;
$font-familyLogo: "Monoton", cursive;
$fontDestacada: "Allerta Stencil", sans-serif;
